.fly-fade-in {
  position: absolute;
  width: 100%;
  margin: auto;  
  animation: fadeIn ease 2s, flyIn ease forwards 2s;
  -webkit-animation: fadeIn ease 2s, flyIn ease forwards 2s;
  -moz-animation: fadeIn ease 2s, flyIn ease forwards 2s;
  -o-animation: fadeIn ease 2s, flyIn ease forwards 2s;
  -ms-animation: fadeIn ease 2s, flyIn ease forwards 2s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@keyframes flyIn {
  0% {
    bottom: 25%;
  }
  100% {
    bottom: 50%;
  }
}
@-moz-keyframes flyIn {
  0% {
    bottom: 25%;
  }
  100% {
    bottom: 50%;
  }
}

@-webkit-keyframes flyIn {
  0% {
    bottom: 25%;
  }
  100% {
    bottom: 50%;
  }
}
@-o-keyframes flyIn {
  0% {
    bottom: 25%;
  }
  100% {
    bottom: 50%;
  }
}
@-ms-keyframes flyIn {
  0% {
    bottom: 25%;
  }
  100% {
    bottom: 50%;
  }
}


.header-fade-1 {
  position: absolute;
  width: 100%;
  margin: auto; 
  animation: fadeIn 2s ease 2s, headerIn ease 2s forwards 2s;
  -webkit-animation: fadeIn ease 2s, headerIn ease 2s forwards 2s;
  -moz-animation: fadeIn 2s ease 2s, headerIn ease forwards 2s;
  -o-animation: fadeIn 2s ease 2s, headerIn ease 2s forwards 2s;
  -ms-animation: fadeIn 2s ease 2s, headerIn ease 2s forwards 2s;
}
@keyframes headerIn {
  0% {
    bottom: 0%;
  }
  100% {
    top: 5%;
  }
}
@-moz-keyframes headerIn {
  0% {
    bottom: 0%;
  }
  100% {
    top: 5%;
  }
}

@-webkit-keyframes headerIn {
  0% {
    bottom: 0%;
  }
  100% {
    top: 5%;
  }
}
@-o-keyframes headerIn {
  0% {
    bottom: 0%;
  }
  100% {
    top: 5%;
  }
}
@-ms-keyframes headerIn {
  0% {
    bottom: 0%;
  }
  100% {
    top: 5%;
  }
}
