.fly-fade-in {
  position: absolute;
  width: 90%;
  left: 5%;
  margin: auto;  
  animation: fadeIn ease 2s, flyIn ease forwards 2s;
  -webkit-animation: fadeIn ease 2s, flyIn ease forwards 2s;
  -moz-animation: fadeIn ease 2s, flyIn ease forwards 2s;
  -o-animation: fadeIn ease 2s, flyIn ease forwards 2s;
  -ms-animation: fadeIn ease 2s, flyIn ease forwards 2s;
}
.header-fade-1 {
  position: absolute;
  left: 10%;
  bottom: 100%;
  margin: auto; 
  animation: fadeIn 2s ease 2s, headerIn 2s ease forwards 2s;
  -webkit-animation: fadeIn 2s ease 2s, headerIn 2s ease forwards 2s;
  -moz-animation: fadeIn 2s ease 2s, headerIn 2s ease forwards 2s;
  -o-animation: fadeIn 2s ease 2s, headerIn 2s ease forwards 2s;
  -ms-animation: fadeIn 2s ease 2s, headerIn 2s ease forwards 2s;
}
.header-fade-2 {
  position: absolute;
  left: 20%;
  bottom: 100%;
  margin: auto; 
  animation: fadeIn 2s ease 2.5s, headerIn 2s ease forwards 2.5s;
  -webkit-animation: fadeIn 2s ease 2.5s, headerIn 2s ease forwards 2.5s;
  -moz-animation: fadeIn 2s ease 2.5s, headerIn 2s ease forwards 2.5s;
  -o-animation: fadeIn 2s ease 2.5s, headerIn 2s ease forwards 2.5s;
  -ms-animation: fadeIn 2s ease 2.5s, headerIn 2s ease forwards 2.5s;
}
.header-fade-3 {
  position: absolute;
  left: 30%;
  bottom: 100%;
  margin: auto; 
  animation: fadeIn 2s ease 3s, headerIn 2s ease forwards 3s;
  -webkit-animation: fadeIn 2s ease 3s, headerIn 2s ease forwards 3s;
  -moz-animation: fadeIn 2s ease 3s, headerIn 2s ease forwards 3s;
  -o-animation: fadeIn 2s ease 3s, headerIn 2s ease forwards 3s;
  -ms-animation: fadeIn 2s ease 3s, headerIn 2s ease forwards 3s;
}
.header-fade-4 {
  position: absolute;
  left: 40%;
  bottom: 100%;
  margin: auto; 
  animation: fadeIn 2s ease 4s, headerIn 2s ease forwards 4s;
  -webkit-animation: fadeIn 2s ease 4s, headerIn 2s ease forwards 4s;
  -moz-animation: fadeIn 2s ease 4s, headerIn 2s ease forwards 4s;
  -o-animation: fadeIn 2s ease 4s, headerIn 2s ease forwards 4s;
  -ms-animation: fadeIn 2s ease 4s, headerIn 2s ease forwards 4s;
}
.waves {
  position: absolute;
  top:0%
  z-index: 999;
  margin: auto; 
  animation: bgroundIn 1s ease-out forwards 4s, bgroundScroll 5s linear infinite 5s;
  -webkit-animation: bgroundIn 1s ease-out forwards 4s, bgroundScroll 5s linear infinite 5s;
  -moz-animation: bgroundIn 1s ease-out forwards 4s, bgroundScroll 5s linear infinite 5s;
  -o-animation: bgroundIn 1s ease-out forwards 4s, bgroundScroll 5s linear infinite 5s;
  -ms-animation: bgroundIn 1s ease-out forwards 4s, bgroundScroll 5s linear infinite 5s;
}


@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}


@keyframes flyIn {
  0% {
    bottom: 25%;
  }
  100% {
    bottom: 50%;
  }
}
@-moz-keyframes flyIn {
  0% {
    bottom: 25%;
  }
  100% {
    bottom: 50%;
  }
}
@-webkit-keyframes flyIn {
  0% {
    bottom: 25%;
  }
  100% {
    bottom: 50%;
  }
}
@-o-keyframes flyIn {
  0% {
    bottom: 25%;
  }
  100% {
    bottom: 50%;
  }
}
@-ms-keyframes flyIn {
  0% {
    bottom: 25%;
  }
  100% {
    bottom: 50%;
  }
}


@keyframes headerIn {
  0% {
    bottom: 100%;
  }
  100% {
    bottom: 90%;
  }
}
@-moz-keyframes headerIn {
  0% {
    bottom: 100%;
  }
  100% {
    bottom: 90%;
  }
}
@-webkit-keyframes headerIn {
  0% {
    bottom: 100%;
  }
  100% {
    bottom: 90%;
  }
}
@-o-keyframes headerIn {
  0% {
    bottom: 100%;
  }
  100% {
    bottom: 90%;
  }
}
@-ms-keyframes headerIn {
  0% {
    bottom: 100%;
  }
  100% {
    bottom: 90%;
  }
}
@keyframes bgroundIn {
  0% {
    top: 0%;
  }
  100% {
    top: 20%;
  }
}
@-moz-keyframes bgroundIn {
  0% {
    top: 0%;
  }
  100% {
    top: 20%;
  }
}
@-webkit-keyframes bgroundIn {
  0% {
    top: 0%;
  }
  100% {
    top: 20%;
  }
}
@-o-keyframes bgoundIn {
  0% {
    top: 0%;
  }
  100% {
    top: 20%;
  }
}
@-ms-keyframes bgroundIn {
  0% {
    top: 0%;
  }
  100% {
    top: 20%;
  }
}


@keyframes bgroundScroll {
  0% {
    left: 0px;
  }
  100% {
    left: 2000px;
  }
}
@-moz-keyframes bgroundScroll {
  0% {
    left: 0px;
  }
  100% {
    left: 2000px;
  }
}
@-webkit-keyframes bgroundScroll {
  0% {
    left: 0px;
  }
  100% {
    left: 2000px;
  }
}
@-o-keyframes bgoundScroll {
  0% {
    left: 0px;
  }
  100% {
    left: 2000px;
  }
}
@-ms-keyframes bgroundScroll {
  0% {
    left: 0px;
  }
  100% {
    left: 2000px;
  }
}
