.fly-fade-in {
  position: absolute;
  width: 90%;
  left: 5%;
  margin: auto;  
  animation: fadeIn ease 2s, flyIn ease forwards 2s;
  -webkit-animation: fadeIn ease 2s, flyIn ease forwards 2s;
  -moz-animation: fadeIn ease 2s, flyIn ease forwards 2s;
  -o-animation: fadeIn ease 2s, flyIn ease forwards 2s;
  -ms-animation: fadeIn ease 2s, flyIn ease forwards 2s;
}
.header-fade-1 {
  position: absolute;
  left: 10%;
  bottom: 100%;
  margin: auto; 
  animation: fadeIn 2s ease 2s, headerIn 2s ease forwards 2s;
  -webkit-animation: fadeIn 2s ease 2s, headerIn 2s ease forwards 2s;
  -moz-animation: fadeIn 2s ease 2s, headerIn 2s ease forwards 2s;
  -o-animation: fadeIn 2s ease 2s, headerIn 2s ease forwards 2s;
  -ms-animation: fadeIn 2s ease 2s, headerIn 2s ease forwards 2s;
}
.header-fade-2 {
  position: absolute;
  left: 20%;
  bottom: 100%;
  margin: auto; 
  animation: fadeIn 2s ease 2.5s, headerIn 2s ease forwards 2.5s;
  -webkit-animation: fadeIn 2s ease 2.5s, headerIn 2s ease forwards 2.5s;
  -moz-animation: fadeIn 2s ease 2.5s, headerIn 2s ease forwards 2.5s;
  -o-animation: fadeIn 2s ease 2.5s, headerIn 2s ease forwards 2.5s;
  -ms-animation: fadeIn 2s ease 2.5s, headerIn 2s ease forwards 2.5s;
}
.header-fade-3 {
  position: absolute;
  left: 30%;
  bottom: 100%;
  margin: auto; 
  animation: fadeIn 2s ease 3s, headerIn 2s ease forwards 3s;
  -webkit-animation: fadeIn 2s ease 3s, headerIn 2s ease forwards 3s;
  -moz-animation: fadeIn 2s ease 3s, headerIn 2s ease forwards 3s;
  -o-animation: fadeIn 2s ease 3s, headerIn 2s ease forwards 3s;
  -ms-animation: fadeIn 2s ease 3s, headerIn 2s ease forwards 3s;
}
.header-fade-4 {
  position: absolute;
  left: 40%;
  bottom: 100%;
  margin: auto; 
  animation: fadeIn 2s ease 4s, headerIn 2s ease forwards 4s;
  -webkit-animation: fadeIn 2s ease 4s, headerIn 2s ease forwards 4s;
  -moz-animation: fadeIn 2s ease 4s, headerIn 2s ease forwards 4s;
  -o-animation: fadeIn 2s ease 4s, headerIn 2s ease forwards 4s;
  -ms-animation: fadeIn 2s ease 4s, headerIn 2s ease forwards 4s;
}
.waves {
  box-sizing = border-box;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: -1;
  position: absolute;
  overflow: hidden;
}


@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}


@keyframes flyIn {
  0% {
    top: 100%;
  }
  100% {
    top: 45%;
  }
}
@-moz-keyframes flyIn {
  0% {
    top: 100%;
  }
  100% {
    top: 45%;
  }
}
@-webkit-keyframes flyIn {
 0% {
    top: 100%;
  }
  100% {
    top: 45%;
  }
}
@-o-keyframes flyIn {
 0% {
    top: 100%;
  }
  100% {
    top: 45%;
  }
}
@-ms-keyframes flyIn {
 0% {
    top: 100%;
  }
  100% {
    top: 45%;
  }
}

@keyframes headerIn {
  0% {
    bottom: 100%;
  }
  100% {
    bottom: 90%;
  }
}
@-moz-keyframes headerIn {
  0% {
    bottom: 100%;
  }
  100% {
    bottom: 90%;
  }
}
@-webkit-keyframes headerIn {
  0% {
    bottom: 100%;
  }
  100% {
    bottom: 90%;
  }
}
@-o-keyframes headerIn {
  0% {
    bottom: 100%;
  }
  100% {
    bottom: 90%;
  }
}
@-ms-keyframes headerIn {
  0% {
    bottom: 100%;
  }
  100% {
    bottom: 90%;
  }
}
@keyframes bgroundIn {
  0% {
    bottom: -20%;
  }
  100% {
    bottom: 0%;
  }
}
@-moz-keyframes bgroundIn {
  0% {
    bottom: -20%;
  }
  100% {
    bottom: 0%;
  }
}
@-webkit-keyframes bgroundIn {
  0% {
    bottom: -20%;
  }
  100% {
    bottom: 0%;
  }
}
@-o-keyframes bgoundIn {
  0% {
    bottom: -20%;
  }
  100% {
    bottom: 0%;
  }
}
@-ms-keyframes bgroundIn {
  0% {
    bottom: -20%;
  }
  100% {
    bottom: 0%;
  }
}
