@font-face{
  font-family: "nhl-94";
  src: url("../fonts/DlxFont.ttf") format("truetype");
}
.picture {
  position: absolute;
  z-index: 2;
  display: flex;
  width: 270px;
  height: 270px;
  left: 825px;
  top: 107px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.frame {
  position: absolute;
  z-index: 4;
  left: 803px;
  top: 85px;
}
.bground {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
}
.header {
  position: absolute;
  top: 387px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  color: white;
  z-index: 999;
  font-family: "nhl-94";
  font-size: 200%;
  text-align: center;
}
