.picture {
  z-index: -1;
  display: block;
  width: 289px;
  height: 270px;
  background-position: center;
}
.bground {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  overflow: hidden;
}    
