.picture {
  position: absolute;
  z-index: -1;
  display: flex;
  width: 270px;
  height: 270px;
  left: 765px;
  top: 107px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.frame {
  position: absolute;
  left: 743px;
  top: 85px;
}
.bground {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
}    
