.picture {
  position: absolute;
  z-index: -1;
  display: block;
  width: 289px;
  height: 270px;
  left: 745px;
  top: 107px;
  background-position: center;
}
.bground {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
}    
