
h1 {
  color: black;
  font-family: "Lucida Console" , monospace;
  font-size: 400%;
  letter-spacing: 0.3em;
  text-align: center;
}
h2 {
  color: black;
  font-family: "Lucida Console" , monospace;
  font-size: 150%;
  letter-spacing: 0.1em;
}
a.header {
  display: inline-block;
  color: black;
  font-family: "Lucida Console" , monospace;
  font-size: 150%;
  letter-spacing: 0.1em;
  font-weight: bold;
  text-decoration: none;
  margin: auto;
  text-align: center;
}
a.header:hover {
  color: white;
}
.bground {
  position: absolute;
  top: -2px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  left: 0;
}
