
h1 {
  color: black;
  font-family: "Lucida Console" , monospace;
  font-size: 400%;
  letter-spacing: 0.3em;
  text-align: center;
}
h2 {
  color: black;
  font-family: "Lucida Console" , monospace;
  font-size: 150%;
  letter-spacing: 0.1em;
}
a.header {
  display: inline-block;
  color: black;
  font-family: "Lucida Console" , monospace;
  font-size: 150%;
  letter-spacing: 0.1em;
  font-weight: bold;
  text-decoration: none;
  height: 68.63px;
  margin: auto;
  text-align: center;
}
a.header:hover {
  color: white;
}
