body {
  background-color: #edc708;
}
h1 {
  color: black;
  font-family: "Lucida Console" , monospace;
  font-size: 400%;
  letter-spacing: 0.3em;
  text-align: center;
}
h2 {
  color: black;
  font-family: "Lucida Console" , monospace;
  font-size: 150%;
  letter-spacing: 0.1em;
}
.waves {
  overflow: hidden;
  bottom: 0%
}
