@font-face{
  font-family: "nhl-94";
  src: url("../fonts/DlxFont.ttf") format("truetype");
}
body {
  background-color: #edc708;
}
.boats {
  max-width: 100%;
}
h1 {
  color: black;
  font-family: "Lucida Console" , monospace;
  font-size: 400%;
  letter-spacing: 0.3em;
  text-align: center;
}
h2 {
  color: black;
  font-family: "Lucida Console" , monospace;
  font-size: 150%;
  letter-spacing: 0.1em;
}
.teamid{
  position: absolute;
  width: 232px;
  height: 40px;
  top: -15px;
  z-index: 10;
  color: white;
  font-family: "nhl-94";
  font-size: 150%;
  text-align: center;
}
.teamframe{
  position: absolute;
  right: 400px;
  top: 250px;
  z-index: 9;
}
.audiobutton {
  position: absolute;
  top: 3%;
  right: 5%
}
a.header {
  display: inline-block;
  color: black;
  font-family: "Lucida Console" , monospace;
  font-size: 150%;
  letter-spacing: 0.1em;
  font-weight: bold;
  text-decoration: none;
  margin: auto;
  text-align: center;
}
a.header:hover {
  color: white;
}
.goalieheader{
  position: absolute;
  box-sizing = border-box;
  top: 725px;
  width: 1920px;
  margin: 0;
  padding: 0;
  left: 0;
  color: white;
  z-index: 99;
  font-family: "nhl-94";
  font-size: 150%;
}
.bground {
  position: absolute;
  box-sizing = border-box;
  top: 0px;
  width: 1920px;
  height: 100%;
  overflow: hidden;
  left: 0;
  margin: 0;
  padding: 0;
  left: 0;
}
.statheader{
  position: absolute;
  box-sizing = border-box;
  top: 295px;
  width: 1920px;
  margin: 0;
  padding: 0;
  left: 0;
  color: white;
  z-index: 99;
  font-family: "nhl-94";
  font-size: 150%;
}
a.statline{
  position: absolute;
  color: #bde3ff;
  text-decoration: none;
  width: 1920px;
  box-sizing = border-box;
  margin: 0;
  left: 0;
  z-index: 99;
  font-family: "nhl-94";
  font-size: 150%;
}
a.statline:hover{
  color: white;
}
.statline1{
  position: absolute;
  top: 385px;
}
.statline2{
  position: absolute;
  top: 420px;
}
.statline3{
  position: absolute;
  top: 455px;;
}
.statline4{
  position: absolute;
  top: 490px;
}
.statline5{
  position: absolute;
  top: 525px;
}
.statline6{
  position: absolute;
  top: 560px;
}
.statline7{
  position: absolute;
  top: 595px;
}
.statline8{
  position: absolute;
  top: 630px;
}
.statline9{
  position: absolute;
  top: 665px;
}
.statline10{
  position: absolute;
  top: 700px;
}
.statline11{
  top: 815px;
}
.statline12{
  top: 850px;
}
