@font-face{
  font-family: "nhl-94";
  src: url("../fonts/DlxFont.ttf") format("truetype");
}
h1 {
  color: black;
  font-family: "Lucida Console" , monospace;
  font-size: 400%;
  letter-spacing: 0.3em;
  text-align: center;
}
h2 {
  color: black;
  font-family: "Lucida Console" , monospace;
  font-size: 150%;
  letter-spacing: 0.1em;
}
a.header {
  display: inline-block;
  color: black;
  font-family: "Lucida Console" , monospace;
  font-size: 150%;
  letter-spacing: 0.1em;
  font-weight: bold;
  text-decoration: none;
  margin: auto;
  text-align: center;
}
a.header:hover {
  color: white;
}
.bground {
  position: absolute;
  top: -2px;
  width: 100%;
  overflow: hidden;
  margin: 0;
  left: 0;
}
.statheader{
  position: absolute;
  top: 40%;
  color: white;
  z-index: 99;
  font-family: "nhl-94";
  font-size: 150%;
}
a.statline{
  color: #bde3ff;
  text-decoration: none;
  z-index: 99;
  font-family: "nhl-94";
  font-size: 150%;
}
a.statline:hover{
  color: white;
}
.farrugia{
  position: absolute;
  top: 50%;
}
.grogan{
  position: absolute;
  top: 55%;
}
