body {
  background-color: yellow;
}
h1 {
  color: black;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 400%;
}

.fly-fade-in {
  position: absolute;
  left: 25%;
  margin-right: -25%;
  animation: fadeIn ease 2s, flyIn ease 2s;
  -webkit-animation: fadeIn ease 2s, flyIn ease 2s;
  -moz-animation: fadeIn ease 2s, flyIn ease 2s;
  -o-animation: fadeIn ease 2s, flyIn ease 2s;
  -ms-animation: fadeIn ease 2s, flyIn ease 2s;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@keyframes flyIn {
  0% {
    bottom: 25%;
  }
  100% {
    bottom: 50%;
  }
}
@-moz-keyframes flyIn {
  0% {
    bottom: 25%;
  }
  100% {
    bottom: 50%;
  }
}

@-webkit-keyframes flyIn {
  0% {
    bottom: 25%;
  }
  100% {
    bottom: 50%;
  }
}
@-o-keyframes flyIn {
  0% {
    bottom: 25%;
  }
  100% {
    bottom: 50%;
  }
}
@-ms-keyframes flyIn {
  0% {
    bottom: 25%;
  }
  100% {
    bottom: 50%;
  }
}
