body {
  background-color: yellow;
}
h1 {
  color: black;
  text-align: center;
}

.fade-in {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
.fly-in {
  position: absolute;
  animation: flyIn ease forwards 2s;
  -webkit-animation: flyIn ease forwards 2s;
  -moz-animation: flyIn ease forwards 2s;
  -o-animation: flyIn ease forwards 2s;
  -ms-animation: flyIn ease forwards 2s;
}@keyframes flyIn {
  0% {
    bottom: 0px;
  }
  100% {
    bottom: 600px;
  }
}
@-moz-keyframes flyIn {
  0% {
    bottom: 100%;
  }
  100% {
    bottom: 50%;
  }
}

@-webkit-keyframes flyIn {
  0% {
    bottom: 100%;
  }
  100% {
    bottom: 50%;
  }
}
@-o-keyframes flyIn {
  0% {
    bottom: 100%;
  }
  100% {
    bottom: 50%;
  }
}
@-ms-keyframes flyIn {
  0% {
    bottom: 100%;
  }
  100% {
    bottom: 50%;
  }
}
